@use "@/styles/color.scss" as *;
@use "@/styles/modules/screen.scss" as *;

.quiz,
.quizSolutionAnalysis {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.quizSolutionAnalysis {
  position: relative;

  @include mq("md") {
    margin-right: 0.5rem;
  }
}

.quiz {
  padding: 0 2rem;

  @include mq("md") {
    padding: 0 1rem;
  }
}

.question {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.correctAnswerWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  box-shadow: 0 8px 0.5rem rgba(colors(darkOrange), 0.25);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: colors(lightWhite);
  padding: 1rem 2rem;
  position: sticky;
  top: 5rem;
  width: 100%;
  z-index: 1;
  white-space: pre-wrap;
}

.correctAnswer {
  display: flex;
  align-items: center;
}

.speakCorrectAnswerButton {
  border: 0;
  background-color: transparent;
}

.answerFormWrapper {
  column-gap: 1rem;
  display: flex;
  width: 100%;
}

.chatForm,
.answerForm {
  column-gap: 1rem;
  display: flex;
  width: 100%;

  @include mq("md") {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.chatForm {
  bottom: 2rem;
  position: sticky;
  left: 0;
  right: 0;
}

.chatFormSubmitButton,
.answerFormSubmitButton {
  margin-top: auto;
}

.message {
  padding: 2rem;
}

.messageOfMe {
  @extend .message;
}

.messageOfBot {
  @extend .message;
  background-color: colors(darkWhite);
}
