@use "@/styles/color.scss" as *;
@use "@/styles/modules/screen.scss" as *;

.quizCategoryListWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: calc(100vh - 4rem);
  position: sticky;
  top: 4rem;
}

.quizCategoryList {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: colors(darkWhite);
}

.quizCategoryLink {
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  box-sizing: border-box;

  &:hover,
  &Selected {
    background-color: colors(lightGray);
  }
}

.quizCategoryLinkText {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
