@use "@/styles/modules/screen.scss" as *;

.form {
  display: grid;

  @include mq("md") {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
.formWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.formInputTexts {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.formUploadIcon {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}
