@use "@/styles/color.scss" as *;
@use "@/styles/modules/screen.scss" as *;

.header {
  align-items: center;
  box-shadow: 0 8px 1rem rgba(colors(darkOrange), 0.25);
  box-sizing: border-box;
  background-color: colors(lightWhite);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navigationElement {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.toggleMenuButton {
  border: 0;
  background-color: transparent;
  display: none;

  @include mq("md") {
    display: block;
  }
}
