$colors: (
  orange: #f39f70,
  red: #ed6d34,
  error: #ee4f4f,
  darkOrange: #b08c60,
  gray: #666666,
  lightGray: #cccccc,
  darkWhite: #f2f2f2,
  white: #fcfbfa,
  lightWhite: #ffffff,
  dark: #34536f,
  lightDark: #4c6d91,
  green: #50b87d,
);

@function colors($key) {
  @return map-get($colors, $key);
}
